* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: #000711;
    --bg-light: #112;
    --bg-transparent: #00071199;
    --fg: white;
    --accent: #4ab;
    --accent-dark: #055;
    --success: #0f0;
}

@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/sora.ttf) format('truetype');
}
@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/sora-bold.ttf) format('truetype');
}

body, button, input {
    font-family: 'Sora', sans-serif;
}


body {
    background: var(--bg);
    color: var(--fg);
}

input, textarea {
    background: var(--bg-light);
    color: var(--fg);
    border: 0.05rem solid var(--fg);
    border-radius: 0.5rem;
    font-family: 'Sora', sans-serif;
}
::placeholder {
    color: var(--fg);
    opacity: 0.3;
}

button {
    border: none;
    background: transparent;
    appearance: none;
    cursor: pointer;
}

a {
    color: var(--accent);
}

